sourcemap.json
rotriever.lock
Packages/*
!Packages/.robloxrc
!Packages/_Workspace/
Packages/_Workspace/*
!Packages/_Workspace/.robloxrc
standalone/Packages
**/*.rbx[lm]*
.DS_Store
.vscode
roblox.yml
roblox.toml
**/luacov.*
.idea/
site/

default_modules
modules_*
