/.*
/bin
/Packages
**/.robloxrc

/.github/
/.vscode/

/roblox
/build

/*.json
/*.toml
/*.yml
/*.md
/*.tgz

/globalTypes.d.luau
**/sourcemap.json
**/*.project.json

**/__tests__
**/*.test.luau
**/*.spec.luau
**/jest.config.luau

**/*.rbxl
**/*.rbxlx
**/*.rbxl.lock
**/*.rbxlx.lock
**/*.rbxm
**/*.rbxmx
