/.*
/bin
/Packages
**/.robloxrc
rotriever.toml

/.github/
/.vscode/

/roblox
/build

/*.json
/*.toml
/*.yml
/*.md
/*.tgz

/globalTypes.d.lua
**/sourcemap.json
**/*.project.json

**/__tests__
**/*.test.lua
**/*.spec.lua
**/jest.config.lua

**/*.rbxl
**/*.rbxlx
**/*.rbxl.lock
**/*.rbxlx.lock
**/*.rbxm
**/*.rbxmx
