**/.robloxrc
rotriever.toml

/roblox
/build

.darklua*
.luau-analyze.json
.luaurc
default.project.json

/globalTypes.d.luau
**/sourcemap.json
**/*.project.json

**/__tests__
**/*.test.luau
**/*.spec.luau
**/jest.config.luau

**/*.rbxl
**/*.rbxlx
**/*.rbxl.lock
**/*.rbxlx.lock
**/*.rbxm
**/*.rbxmx
