**/.robloxrc
rotriever.toml

/roblox
/build

.darklua*
.luau-analyze.json
.luaurc
default.project.json

/globalTypes.d.lua
**/sourcemap.json
**/*.project.json

**/__tests__
**/*.test.lua
**/*.spec.lua
**/jest.config.lua

**/*.rbxl
**/*.rbxlx
**/*.rbxl.lock
**/*.rbxlx.lock
**/*.rbxm
**/*.rbxmx
